*{
margin: 0;
padding: 0;
font-family: 'Oswald', sans-serif;
box-sizing: border-box;

}
.wrapper{
height: 100vh;
width: 100vw;


}
.container-left{
display: inline-block;
width: 60%;
margin-top: 15%;
padding: 136px;

}
.container-right{
display: inline-block;
background-color: rgba(93,93,125,0.16);
height: 100vh;
width: 40%;
position: absolute;


}
img{
position: relative;
top: 20%;
right: 130px;

}
h1{
font-weight: 400;
font-size: 70px;
line-height: 80px;
color: #5d5d7d;
width: 368px;

cursor: pointer;
}
p{
font-size: 28px;
font-weight: 48px;
color: #5d5d7d;
opacity: 0.6;
margin: 15px 0;
width: 540px;
cursor: pointer;
}
button{
width: 269px;
height: 67px;
background: #5d5d7d;
box-shadow: 0px 10px 24px rgba(148,153,234,0.0979959);
font-size: 24px;
line-height: 36px;
text-align: center;
color:#ffffff;
border-radius:30px;
border:none;
cursor:pointer;


}
button:hover{
opacity: .8;


}
button:active{
opacity: 0.5;

}
a{
font-size: 28px;
line-height: 41px;
color: #5d5d7d;
margin-right:41px;
cursor: pointer;
}

a:nth-child(2){
opacity:0.4 ;


}
a:hover{
opacity: 0.4;

}
a:active{
opacity: 0.8;


}
header{
margin: 24px 0 0 57px;



}